@mixin titulo ($color-font, $font-principal, $font-size){
    color: $color-font;
    font-family: $font-principal;
    font-size: $font-size;
}

.header {
    &__bg-yellow {
        background: $color-uno-degrade;
        background: $color-dos-degrade;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__titulo {
        display: flex;
        justify-content: flex-start;
        font-style: italic;
        @include titulo($color-font, $font-principal, 6rem)
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        ul {
            font-family: $font-principal;
            font-size: 2rem;
            color: $color-font;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.hover:hover {
    transform: scale(1.2);
}