/* Media Querie */
@media (min-width: 541px) and (max-width: 720px) {

    .header {
        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titulo {
            font-size: 4rem;
        }
        &__menu {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            }
        }
        ul li, footer ul li {
            list-style-type: none;
            margin: 0rem 1rem;
        }
    }
    
    .article__uno {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .titulo__index h2 {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
    }
    
    p {
        width: 90vw;
        font-size: 1.5rem;
        text-align: justify;
        line-height: 1.5rem;
    }

    .div__img {
        display: flex;
        justify-content: center;
    }

    .img__principal {
        width: 400px;
        height:350px;
        border-radius: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        ul {
            display: flex;
            flex-direction: row;
        }
        h3 {
            font-size: 2rem;
            font-style: italic;
        }
    }

    .titulos__dos {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 2rem;
        font-size: 3rem;
        font-style: italic;
    }
    
    .parrafo p {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
    }
    
    .estilo__listas {
        margin: 1rem;
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
        iframe {
            width: 30vw;
            height: 40vh;
        }
    }

    .tours {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 3rem;
        h3 {
            font-size: 2rem;
            font-style: italic;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
        }
    }

    .titulo__sub {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .estilo__galeria {
        display: flex;
        align-items: center;
        align-content: center;
        iframe {
            width: 400px;
            height: 400px;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
    }
    
    .tamaño__img {
        width: 200px;
        height: 400px;
    }

    .img__contacto {
        display: none;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form {
        &__tamaño {
            width: 35vw;
        }
        &__texterea {
            width: 35vw;
            height: 20vh;
        }
    }
}


@media (min-width: 320px) and (max-width: 540px) {

    .header {
        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titulo {
            font-size: 2rem;
            font-style: italic;
        }
        &__menu {
            ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1rem;
            }
            ul li, footer ul li {
                list-style-type: none;
                margin: 0rem 0.5rem;
            }
        }
    }
    
    .titulo__index h2 {
        font-size: 1.5rem;
        font-style: italic;
    }
    
    p {
        width: 90vw;
        font-size: 1rem;
        text-align: justify;
        line-height: 1rem;
    }
    
    .img__principal {
        width: 290px;
        height:250px;
        border-radius: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        ul {
            display: flex;
            flex-direction: row;
            padding: 0.5rem;
        }
        h3 {
            font-size: 1rem;
            font-style: italic;
        }
    }

    .pie p {
        width: 60vw;
        font-size: 0.5rem;
    }
    
    .titulos__dos {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 1rem;
        font-size: 2rem;
        font-style: italic;
    }
    
    .parrafo p {
        display: flex;
        align-content: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    .estilo__listas {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        margin: 1rem;
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
        iframe {
            width: 50vw;
            height: 50vh;
        }
    }

    .tours {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 2rem;
        h3 {
            font-size: 1.5rem;
            font-style: italic;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1rem;
        }
    }

    .titulo__sub {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .estilo__galeria {
        display: flex;
        align-items: center;
        align-content: center;
        iframe {
            width: 250px;
            height: 250px;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
    }
    
    .tamaño__img {
        width: 200px;
        height: 200px;
    }

    .img__contacto {
        display: none;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__parrafo{
            display: flex;
            justify-content: center;
            width: 90vw;
        }
    }
    
    .form {
        &__tamaño {
            width: 45vw;
        }
        &__texterea {
            width: 45vw;
            height: 20vh;
        }
    }
}