$color-body: rgb(12, 12, 12);
$color-uno-degrade:  rgb(255,124,0);
$color-dos-degrade:  linear-gradient(180deg, rgba(255,124,0,1) 0%, rgba(232,255,0,1) 58%);
$color-font: white;
$font-principal: 'Bebas Neue', cursive;
$font-secundario: 'Bebas Neue';
$borde-boton: black;
$color-font-boton: black;
$color-boton: yellow;
$font-size: 6rem