@import 'variables';
@import 'header';
@import 'footer';
@import 'mediaqueries';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-body;
}

@mixin titulo ($color-font, $font-principal, $font-size){
    color: $color-font;
    font-family: $font-principal;
    font-size: $font-size;
}

.header {
    &__bg-yellow {
        background: $color-uno-degrade;
        background: $color-dos-degrade;
    }
    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__titulo {
        display: flex;
        justify-content: flex-start;
        font-style: italic;
        @include titulo($color-font, $font-principal, 6rem)
    }
    &__menu {
        display: flex;
        justify-content: flex-end;
        ul {
            font-family: $font-principal;
            font-size: 2rem;
            color: $color-font;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.hover:hover {
    transform: scale(1.2);
}

.article__uno {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.titulo__index h2 {
    font-style: italic;
    @include titulo($color-font, $font-principal, 3rem)
}

p {
    font-size: 2rem;
    font-style: italic;
    font-family: $font-secundario;
    text-align: justify;
    line-height: 2rem;
    color: $color-font;
}

.img__principal {
    width: 600px;
    height:650px;
    border-radius: 1rem;
}

.cards {
    display: flex;
    align-items: center;
    margin-left: 4rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-uno-degrade;
    background: $color-dos-degrade;
    color: $color-font;
    height: 32vh;
    ul {
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        list-style: none;
    }
    h3 {
        font-style: italic;
        @include titulo($color-font, $font-principal, 1rem)
    }
}

.pie p {
    font-family: $font-principal;
}

.titulos__dos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 2rem;
    font-style: italic;
    @include titulo($color-font, $font-principal, 4rem)
}

.parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        display: flex;
        align-content: center;
        font-size: 2rem;
    }
    ul li a{
        display: flex;
        justify-content: center;
        list-style-type: none;
        }
}

.estilo__listas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
    h3 {
        @include titulo($color-font, $font-principal, 1.5rem)
    }
    iframe {
        width: 25vw;
        height: 50vh;
    }
}

.tours {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 3rem;
    h3 {
        font-style: italic;
        @include titulo($color-font, $font-principal, 3rem)
    }
    tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75vw;
        font-size: 2rem;
        font-family: $font-principal;
        color: $color-font;
    }
}

.soldout {
    text-decoration: line-through;
}

.tamaño__img {
    width: 900px;
    height: 600px;
}

.titulo__sub {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
    @include titulo($color-font, $font-principal, 4rem)
}

.estilo__galeria iframe {
    width: 700px;
    height: 400px;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.video {
    display: flex;
    justify-content:center;
}

.img__contacto {
    width: 450px;
    height: 500px;
}

.formulario {
    display: flex;
    flex-wrap: wrap;
    &__parrafo{
        padding: 1rem 2rem 3rem 2rem;
    }
}

.form {
    &__tamaño {
        width: 35vw;
    }
    &__texterea {
        width: 35vw;
        height: 20vh;
    }
}

.boton {
    margin-bottom: 4rem;
}

/* Media Querie */
@media (min-width: 541px) and (max-width: 720px) {

    .header {
        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titulo {
            font-size: 4rem;
        }
        &__menu {
        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.5rem;
            }
        }
        ul li, footer ul li {
            list-style-type: none;
            margin: 0rem 1rem;
        }
    }
    
    .article__uno {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .titulo__index h2 {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
    }
    
    p {
        width: 90vw;
        font-size: 1.5rem;
        text-align: justify;
        line-height: 1.5rem;
    }

    .div__img {
        display: flex;
        justify-content: center;
    }

    .img__principal {
        width: 400px;
        height:350px;
        border-radius: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
        ul {
            display: flex;
            flex-direction: row;
        }
        h3 {
            font-size: 2rem;
            font-style: italic;
        }
    }

    .titulos__dos {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 2rem;
        font-size: 3rem;
        font-style: italic;
    }
    
    .parrafo p {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.5rem;
    }
    
    .estilo__listas {
        margin: 1rem;
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
        iframe {
            width: 30vw;
            height: 40vh;
        }
    }

    .tours {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 3rem;
        h3 {
            font-size: 2rem;
            font-style: italic;
        }
        tr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 75vw;
            font-size: 2rem;
            font-family: $font-principal;
            color: $color-font;
        }
    }

    .titulo__sub {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .estilo__galeria {
        display: flex;
        align-items: center;
        align-content: center;
        iframe {
            width: 400px;
            height: 400px;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
    }
    
    .tamaño__img {
        width: 200px;
        height: 400px;
    }

    .img__contacto {
        display: none;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form {
        &__tamaño {
            width: 35vw;
        }
        &__texterea {
            width: 35vw;
            height: 20vh;
        }
    }
}


@media (min-width: 320px) and (max-width: 540px) {

    .header {
        &__logo {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__titulo {
            font-size: 2rem;
            font-style: italic;
        }
        &__menu {
            ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1rem;
            }
            ul li, footer ul li {
                list-style-type: none;
                margin: 0rem 0.5rem;
            }
        }
    }
    
    .titulo__index h2 {
        font-size: 1.5rem;
        font-style: italic;
    }
    
    p {
        width: 90vw;
        font-size: 1rem;
        text-align: justify;
        line-height: 1rem;
    }
    
    .img__principal {
        width: 290px;
        height:250px;
        border-radius: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 40vh;
        ul {
            display: flex;
            flex-direction: row;
            padding: 0.5rem;
        }
        h3 {
            font-size: 1rem;
            font-style: italic;
        }
    }

    .pie p {
        width: 60vw;
        font-size: 0.5rem;
    }
    
    .titulos__dos {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 1rem;
        font-size: 2rem;
        font-style: italic;
    }
    
    .parrafo p {
        display: flex;
        align-content: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    .estilo__listas {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        margin: 1rem;
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
        iframe {
            width: 50vw;
            height: 50vh;
        }
    }

    .tours {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 2rem;
        h3 {
            font-size: 1.5rem;
            font-style: italic;
        }
        tr {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 75vw;
            font-size: 2rem;
            font-family: $font-principal;
            color: $color-font;
        }
    }

    .titulo__sub {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-style: italic;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .estilo__galeria {
        display: flex;
        align-items: center;
        align-content: center;
        iframe {
            width: 250px;
            height: 250px;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
    }
    
    .tamaño__img {
        width: 200px;
        height: 200px;
    }

    .img__contacto {
        display: none;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__parrafo{
            display: flex;
            justify-content: center;
            width: 90vw;
        }
    }
    
    .form {
        &__tamaño {
            width: 45vw;
        }
        &__texterea {
            width: 45vw;
            height: 20vh;
        }
    }
}